:root {
    --vermell: #ee3a39;
    --grisfosc: #5a5a5a;
    --rosa: #eac1c2;
    --grisclar: #c0c0c0;
    --blanc: #ffffff;
}

html {
        font-size: 62.5%
    }

html {
        font-size: 1.6rem
    }

    .titol {
        text-align:center;
        font-size: 3.8rem;
        color: var(--vermell);
         font-family: "Roboto Condensed", sans-serif;

    }
    
    .titol span {
        font-size: 2rem;
         color: var(--vermell);
         font-family: "Roboto Condensed", sans-serif;

    }

h2 {
    text-align:left;
    color: var(--rosa);
     font-family: "Raleway", sans-serif;
}

h3 {
    text-align:left;
    color: var(--rosa);
     font-family: "Open+Sans", sans-serif;
}

p {
    text-align:left;
    color: var(--rosa);
     font-family: "Roboto+Slab", sans-serif;
}

 nav {
    text-align:center;
     font-family: "Raleway", sans-serif;
}

 .contacte {
    text-align:center;
     font-family: "Raleway", sans-serif;
}

.contenidor{
    width:120rem;
}

.navegacio_principal{
    margin: 0 auto;
}


.nav_background{
    background-color: var(--grisclar    );
}

.navegacio_principal{
    display:flex;
        justify-content:flex-start;
        
}

.navegacio_principal{
    display:flex;
        justify-content:space-around;

}

.fondo_principal{
    background-color: var(--blanc);
}

header {
    background-color: var(--grisclar);
}

.titol { color: #111; }

<style>
  .titol {
    color: red;
  }
</style>













